Import all the necessary library

In [14]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv("D:\\Simplilearn all projects\\Data\\salary_data_file.csv")

In [16]:
data.shape

(128, 2)

In [17]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [18]:
x = data.drop(['Salary'],axis=1)
y = data['Salary']

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=4587)

In [20]:
print(x.shape,x_train.shape,x_test.shape)

(128, 1) (102, 1) (26, 1)

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [22]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [23]:
model.coef_

array([1799.90999585])

In [24]:
model.intercept_

89548.03921568628

In [25]:
from sklearn.metrics import accuracy_score,r2_score
from math import sqrt
print(sqrt(r2_score(y_train,model.predict(x_train))))

0.08777736900632982

In [26]:
pd.DataFrame({'Actual':y_train,'Predicted':np.round(model.predict(x_train),0)}).head(10)

     Actual  Predicted
111   79314    91576.0
77    96960    90132.0
41   115644    88603.0
54   108897    89155.0
32   120315    88221.0
25   105582    87775.0
55   108378    89198.0
6     60150    86500.0
90    90213    90684.0
5     56642    86479.0